md-input-container {
    display: flex;
    padding: 10px 36px;
}

.progress {
    display: flex;
    background: white;
    margin: 50px;
}

.search-results {
    margin: 36px 10%;
    background: white;
}

.image-card {
    padding: 8px;
    margin: 8px;
    max-width: 200px;
    float: left;
}

.image-card a {
    text-decoration: none;
}

.image-card a:hover {
    text-decoration: underline;
}

.image-card h4 {
    margin: 0;
    padding: 0 0 4px 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.metadata {
    align-items: flex-start;
    font-size: small;
    list-style: none;
}

details {
    font-size: small;
    padding-top: 8px;
}

.image {
    max-width: 200px;
    max-height: 200px;
}

.grid {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}
