<md-content flex layout-padding>
    <h3>Search Imgur</h3>
    <p>Ever wanted to find something on Imgur? This might be your chance!</p>

    <md-input-container md-no-float>
        <label>What are you looking for?</label>
        <input type="text" ng-model="query">
        <md-button ng-click="search(query)">Go</md-button>
    </md-input-container>
    <md-divider></md-divider>
</md-content>


<md-content flex layout-padding></md-content>


<div ng-repeat="entity in searchResponse.data.data | filter: entity.topic !== null">
    <h2>Title: {{entity.title}}</h2>
    <h3>User: <a href="https://imgur.com/user/{{entity.account_url}}">{{entity.account_url}}</a></h3>
    <p>NSFW: {{entity.nsfw}}</p>
    <p>Topic: {{entity.topic}}</p>
    <p>Points: {{entity.points}}</p>
    <p>Views: {{entity.views}}</p>
    <p><a href="{{entity.link}}">{{entity.link}}</a></p>
    <ul>
        <li ng-repeat="(property, value) in entity">{{property}} : {{value}}</li>
    </ul>
    <img src="{{entity.link}}">
</div>
