<section class="flex-column">
    <div class="card">
        <h3>Search Imgur</h3>
        <p>Ever wanted to find something on Imgur? This might be your chance!</p>

        <form id="login" autocomplete="off" ng-submit="search(query)">
            <md-input-container md-no-float>
                <input autofocus="true" placeholder="Enter search phrase" type="text" ng-model="query"
                       aria-label="search query">
            </md-input-container>
        </form>

        <p class="flex-row">
            <md-button class="md-primary md-raised" ng-click="search(query)" ng-disabled="awaitingResponse">Search
            </md-button>
        </p>
    </div>

    <div class="flex-row">
        <md-button class="md-raised md-icon-button" ng-click="previousPage(query)"
                   ng-disabled="disablePreviousButton()" aria-label="previous">
            <i class="mdi mdi-chevron-left"></i>
            <md-tooltip>Previous page</md-tooltip>
        </md-button>
        [ {{searchResultPage}} ]
        <md-button class="md-raised md-icon-button" ng-click="nextPage(query)"
                   ng-disabled="disableNextButton()" aria-label="next">
            <i class="mdi mdi-chevron-right"></i>
            <md-tooltip>Next page</md-tooltip>
        </md-button>
    </div>

    <div class="flex-column progress" ng-if="awaitingResponse">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div class="flex-column search-results" ng-if="!awaitingResponse && searchResult">

        <div class="grid">
            <div class="card image-card" ng-repeat="entity in searchResult">

                <h4>{{entity.title}}</h4>

                <div class="flex-column">
                    <a href="{{getLink(entity)}}" target="_blank"><img class="image" ng-src="{{entity.cover_link}}"
                                                                       alt="{{entity.title}}"/></a>
                </div>

                <details class="flex-column">
                    <summary>Show more</summary>
                    <ul class="metadata">
                        <li ng-repeat="(key, value) in entity">
                            <strong>{{key}}:</strong> {{value}}
                        </li>
                    </ul>
                </details>
            </div>
        </div>
    </div>
</section>
